@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&display=swap);html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

pre {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

.button {
  display: inline-block;
  background-color: transparent;
  border-radius: 4px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.button:hover i {
  color: black;
}

.button i {
  font-size: 1.5rem;
  color: gray;
  transition: all 0.2s ease;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

