@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&display=swap);html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

pre {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

.button {
  display: inline-block;
  background-color: transparent;
  border-radius: 4px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.button:hover i {
  color: black;
}

.button i {
  font-size: 1.5rem;
  color: gray;
  transition: all 0.2s ease;
}

.switch {
  position: relative;
  top: 4px;
  cursor: pointer;
}

.switch .label {
  font-size: 0.8em;
  color: #AAA;
}

.switch-icon,
.switch-slide,
.dropdown ul,
.select-arrow {
  transition: 0.2s ease;
}

.switch-slide {
  display: inline-block;
  width: 48px;
  height: 16px;
  background: #888;
  border-radius: 8px;
  margin: 0 4px 0 4px;
  position: relative;
  top: 2px;
}

.switch-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: #CCC;
  border-radius: 12px;
  position: absolute;
  top: -4px;
}

.switch[class*=checked] .switch-slide {
  background: #00BCAF;
}

.switch[class*=checked] .switch-icon {
  background: #009F94;
  left: 24px;
}

.switch[class*=checked] .label:last-child {
  color: #009F94;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

